// Colors
$black-shaded-0: rgba(0, 0, 0, .1);
$black-shaded-1: rgba(0, 0, 0, .2);
$black-shaded-2: rgba(0, 0, 0, .4);
$black-shaded-3: rgba(0, 0, 0, .6);
$black-shaded-4: rgba(0, 0, 0, .8);

$white-shaded-0: rgba(255, 255, 255, .1);
$white-shaded-1: rgba(255, 255, 255, .2);
$white-shaded-2: rgba(255, 255, 255, .4);
$white-shaded-3: rgba(255, 255, 255, .6);
$white-shaded-4: rgba(255, 255, 255, .8);

// Container
$container-padding: 3rem;