<div class="nav-wrapper">
  <ul class="left">
    <li>
      <a href="javascript:;" class="waves-effect waves-light side-nav-button" data-activates="menu">
        <i class="mdi mdi-menu"></i>
      </a>
    </li>
    <li>
      <a href="<%= url_for('/') %>" class="waves-effect waves-light brand-logo">
        <span><%= getConfig("title") %></span>
      </a>
    </li>
  </ul>
  <ul class="right">
    <li>
      <a href="javascript:;" class="waves-effect waves-light" data-target="shareModal">
        <i class="mdi mdi-share-variant"></i>
      </a>
    </li>
  </ul>
</div>
<div id="shareModal" class="modal bottom-sheet">
  <div class="modal-content share-container">
    <div class="share-wrapper">
      <div class="hr">Share this page</div>
      <div
        class="socials"
        data-shares="<%=getConfig('shares')%>"
        data-show-label="false"
        data-show-count="false"></div>
    </div>
  </div>
</div>